<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.callor.memo.dao.MemoDao">
 	
 	<select id="selectAll" resultType="MemoDTO">
 		SELECT *
 		FROM tbl_memo
 		ORDER BY ID
 	</select>
 	<select id="findById" resultType="MemoDTO">
 	 	SELECT *
 		FROM tbl_memo
 		WHERE ID = #{id}
 	</select>
 	 <select id="findBySubject" resultType="MemoDTO">
 	 	SELECT *
 		FROM tbl_memo
 		WHERE M_SUBJECT LIKE '%' || #{m_subject} || '%'
 	</select>
 	<select id="findByDate" resultType="MemoDTO">
 	 	SELECT *
 		FROM tbl_memo
 		WHERE M_DATE BETWEEN #{m_sdate} AND #{m_edate}
 		
 	
 	</select>
 	<select id="findByText" resultType="MemoDTO">
 	 	SELECT *
 		FROM tbl_memo
 		WHERE M_TEXT LIKE '%' || #{m_text} || '%'
 	</select>
 	
 	
 	<insert id="insert" parameterType="MemoDTO">
 		INSERT INTO tbl_memo(
			 		ID,
					M_AUTH,
					M_DATE,
					M_SUBJECT,
					M_TEXT,
					M_PHOTO
 		) VALUES (SEQ_MEMO.NEXTVAL,
				#{m_auth,jdbcType=VARCHAR},
				#{m_date,jdbcType=VARCHAR},
				#{m_subject,jdbcType=VARCHAR},
				#{m_text,jdbcType=VARCHAR},
				#{m_photo,jdbcType=VARCHAR})	
 	
 	</insert>
 	<update id="update" parameterType="MemoDTO">
 		UPDATE tbl_memo SET
 					
					M_AUTH = #{m_auth,jdbcType=VARCHAR},
					M_DATE = #{m_date,jdbcType=VARCHAR},
					M_SUBJECT = #{m_subject,jdbcType=VARCHAR},
					M_TEXT = #{m_text,jdbcType=VARCHAR},
					M_PHOTO = #{m_photo,jdbcType=VARCHAR}
		WHERE ID = #{id}
 	
 	</update>
 	<delete id="delete" parameterType="MemoDTO">
 		DELETE FROM tbl_memo
 		WHERE ID = #{id}
 	
 	</delete>
 	
 
 
</mapper>